# Không fail khi thiếu/không khớp peer dependencies
strict-peer-dependencies=false

# Cho phép tự động cài peer dependencies (version compatibility)
auto-install-peers=true

# (Tuỳ chọn) Hoist dependencies nếu tool nào cần node_modules thuần túy
shamefully-hoist=true